<!doctype html>
  <html lang="en">
  <head>
	  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="generator" content="SEOmatic">
    <meta name="keywords" content="sell easily online and offline, buy, buy online, sell, sell online, sell offline, trade, sell on instagram, sell on social media, e-commerce, payments, africa, nigeria, ghana, tech in africa, mobile sales, pos, yipcart">
    <meta name="description" content="YipCart is not just an ecommerce platform that has everything you need to sell online, on social media, or in person, it is also the easiest to use.">
    <meta name="referrer" content="no-referrer-when-downgrade">

    <!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="stylesheet/app.css">
	  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="stylesheet/aos.css" rel="stylesheet"/>
	  <title>YipCart</title> 
  </head>
  
  <body style="background-color: #F7F7F7;">
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="javascript/jquery-3.3.1.min.js"></script>
		<script src="javascript/popper.min.js"></script>
		<script src="javascript/bootstrap.min.js"></script>

		<script>
    	$(function () {
        $(window).scroll(function () {
          if ($(window).scrollTop() >= 100) {
            $('nav').addClass('scrolled');
          }
          else {
            $('nav').removeClass('scrolled');
          }
        });
    	});
		</script>

		<!-- Navbar Script -->
		<script>
    	$(function () {
        var Accordion = function (el, multiple) {
          this.el = el || {};
          this.multiple = multiple || false;

          // Variables privadas
          var links = this.el.find('.link');
          // Evento
          links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
        }

        Accordion.prototype.dropdown = function (e) {
          var $el = e.data.el;
          $this = $(this),
          $next = $this.next();

          $next.slideToggle();
          $this.parent().toggleClass('open');

          if (!e.data.multiple) {
            $el.find('.ds-accordion--content').not($next).slideUp().parent().removeClass('open');
          };
        }

        var accordion = new Accordion($('#accordion'), false);
    	});
		</script>

		<!-- Navbar Mobile -->
		<script>
    	(function ($) {
        $(document).ready(function () {
          var $menuRevealBtn = $('#menu-reveal');
          var $sideNav = $('#sr-sideNav--mobile');
          var $sideNavMask = $('#sr-sideNav--mobile__mask');

          $menuRevealBtn.on('click', function () {
            $sideNav.addClass('visible');
            $sideNavMask.addClass('visible');
          });

          $sideNavMask.on('click', function () {
            $sideNav.removeClass('visible');
            $sideNavMask.removeClass('visible');
          });
        });
    	})(jQuery)
		</script>
  </body>
</html>