
.waiting-page{
  padding: 11rem 1rem 7rem 1rem;
}

.waiting-page h3, .waiting-page p{
  text-align: center;
}
.waiting-page h3{
  font-size: 30pt;
  letter-spacing: normal;
  margin-bottom: 1rem;
}
.yip-form{
  padding: 3rem;
  margin: auto;
  margin-bottom: 3rem;
  max-width: 420px;
}
.yip-form input[type=text]{
  background: #FFFFFF;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 11pt;
  height: 50px;
  padding: 1rem;
  width: 100%;
}
.yip-form label{
  color: #FFFFFF;
  font-size: 13pt;
  margin-bottom: .5rem; 
}
.input-block{
  margin-bottom: 1.5rem;
}
.yip-form .yip-button{
  height: 60px;
  margin-top:1rem;
  width: 100%;
}