h1,.hero-highlights-section h3,.follow-instagram,
.hero-highlights-section li, h2, .all-section li,.feature-highlights, h4, .call-to-join-testers h2
.footer-group li,input, .waiting-page h3, .yip-form label, p
{
  font-family: 'Montserrat', sans-serif;
}

.heavy, h2, h4,.hero-highlights-section h3{
  font-family: bold;
}
.yip-button, .waiting-page h3, .yip-form label, .yip-button2,.feature-highlights, .form-closure p, 
.hero-highlights-section li, .call-to-join-testers h1, .join-whatsapp h1, .waiting-page p{
  font-weight: bold;
}

.medium,.follow-instagram{
  font-weight: 700;
}

.regular, input, .footer-group li
{
  font-weight: normal;
}

.call-to-join-testers p{
  font-weight: 300;
}