.marketing-table {
  width: 100%;
  margin: 30px 0;
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-text-size-adjust: 100%;
  th, td {
    padding: 10px 15px;
    border: 1px solid #dfe3e8;
  }
  th {
    background-color: #f4f6f8;
    font-weight: 400;
    &[scope='row'] {
      background-color: transparent;
    }
  }
  thead th {
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  tbody {
    th, td {
      text-align: left;
    }
    tr:hover {
      th:not([scope='col']), td {
        background-color: #f4f6f8;
      }
    }
  }
  p {
    margin: 0;
  }
}

@media screen and (min-width: 46.875em) {
  .marketing-table thead th {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.pricing-plan {
  position: relative;
  border: 1px solid #dfe3e8;
  text-align: center;
  border-radius: 5px;
  transition: border-color 300ms;
}

@media screen and (max-width: 46.8125em) {
  .pricing-plan {
    margin-bottom: 2.8125em;
    &:first-child {
      margin-bottom: 3.75em;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.pricing-plan__superhead {
  position: absolute;
  top: -22px;
  left: -1px;
  right: -1px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #dfe3e8;
  border-radius: 5px 5px 0 0;
  line-height: 44px;
}

.pricing-plan__header {
  padding: 2.8125em 1.875em 1.875em;
  background: #f4f6f8;
}

@media screen and (max-width: 46.8125em) {
  .pricing-plan__header {
    padding: 1.875em 1.5625em;
  }
}

.pricing-plan__price {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 4.5em;
  line-height: 1em;
  color: #000000;
  > {
    sup {
      font-weight: 500;
      font-size: 0.3055555556em;
      line-height: 2.0454545455em;
      vertical-align: top;
    }
    abbr {
      font-weight: 300;
      font-size: 0.6em;
      margin-right: -0.25em;
    }
    span {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: ShopifySans, Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 0.33333em;
    }
  }
}

.pricing-plan--addon {
  text-align: center;
}

.pricing-disclaimer {
  margin: 0.9375em 0 0;
  text-align: center;
  color: #454f5b;
  font-size: 0.875em;
}

@media screen and (min-width: 46.875em) {
  .pricing-disclaimer {
    padding: 0 3.75em;
  }
}

.pricing-plan__disclaimer {
  margin-bottom: 0;
}

.pricing-plan__more {
  padding: 0.9375em;
  border-top: 1px solid #dfe3e8;
  > p {
    margin-bottom: 5px;
  }
}

.pricing-plan__tooltip {
  display: inline-block;
  padding-right: 30px;
  .popover {
    font-family: ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
  }
}

.pricing-plan__tooltip-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -0.5em;
  width: 1em;
  height: 1em;
}

@media screen and (min-width: 46.875em) {
  .pricing__heading {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 46.875em) {
  .pricing-table {
    margin-top: 60px;
  }
}

.pricing-table {
  caption {
    position: static;
  }
  tbody td {
    text-align: center;
    width: 45%;
  }
  tfoot td {
    padding: 15px 0 0;
    border: 0;
    text-align: center;
  }
  .pricing-table__section-heading, p {
    margin: 0;
  }
  th p:not(.heading--4), tfoot p, .pricing-table__feature-name, .pricing-table__feature-value {
    font-size: 0.8em;
  }
  .pricing-table__feature-name {
    color: #212b35;
  }
  .pricing-table__feature-link {
    text-decoration: underline;
  }
  .feature-label {
    margin: 0;
  }
  .feature-label__text, .feature-label__description {
    display: block;
  }
  .feature-label__text {
    margin-bottom: 3px;
  }
  .feature-label__description {
    font-size: 0.9375em;
    color: #637381;
    margin-left: 0;
  }
  .icon--not-in-plan {
    opacity: 0.5;
  }
  .icon--in-plan {
    width: 25px;
    height: 25px;
    margin: -6px 0 -7px;
  }
  .price {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: ShopifySans, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 3.3333333333em;
    color: #30373b;
    white-space: nowrap;
    &::after {
      content: '';
      display: table;
      clear: both;
    }
    sup, .price__number {
      display: inline-block;
      vertical-align: top;
    }
  }
  .plus-pricing-cta {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 700;
    text-decoration: underline;
    border-bottom: 0;
    line-height: normal;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .plus-plan__price {
    display: inline-block;
    margin-top: -8px;
    color: #30373b;
    font-size: 1.5em;
  }
  .plus-price-overview {
    white-space: nowrap;
  }
  .plus-pricing-data {
    position: relative;
    vertical-align: top;
    font-size: 0.875em;
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      display: block;
      height: 1px;
      background: #dfe3e8;
    }
  }
  tr:hover td.plus-pricing-data {
    background-color: #ffffff;
    &:hover {
      background-color: #f4f6f8;
    }
  }
  .plus-price-description::after {
    content: '';
    display: block;
    margin: 15px auto 12px;
    width: 12px;
    height: 1px;
    background-color: currentColor;
  }
}

@media screen and (max-width: 46.8125em) {
  .pricing-table {
    th.js-is-hidden, td.js-is-hidden {
      display: none;
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 46.8125em) {
  .pricing-table thead th:first-child {
    display: none;
  }
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  .pricing-table thead th {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (min-width: 46.875em) {
  .pricing-table tbody {
    th {
      width: 33.33333%;
    }
    td {
      width: 16.66667%;
    }
  }
}

@media screen and (min-width: 46.875em) {
  .pricing-table tfoot td {
    display: none;
  }
}

@media screen and (min-width: 67.5em) {
  .pricing-table {
    th p:not(.heading--4), tfoot p, .pricing-table__feature-name, .pricing-table__feature-value {
      font-size: 0.875em;
    }
  }
}

@media screen and (min-width: 46.875em) {
  .pricing-table .pricing-table__feature-value--payments {
    white-space: nowrap;
  }
}

@media screen and (min-width: 67.5em) {
  .pricing-table .price {
    font-size: 2.85714em;
  }
}

.plan-tabs {
  width: 100%;
  li {
    border-left: 1px solid #dfe3e8;
    border-right: 1px solid #dfe3e8;
  }
}

.plan-tabs--12745140338 {
  display: flex;
  flex-wrap: wrap;
  li {
    display: block;
    flex-basis: 50%;
    margin-bottom: -1px;
    _:-ms-fullscreen {
      margin-right: -1px;
      margin-left: -1px;
    }
  }
}

:root .plan-tabs--12745140338 li {
  margin-right: -1px;
  margin-left: -1px;
}

.plan-tabs__tab {
  display: block;
  width: 100%;
  padding: 1.25em 1em;
  border-top: 1px solid #dfe3e8;
  border-bottom: 1px solid #dfe3e8;
  font-size: 0.7857142857em;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  &.js-is-active {
    color: #000000;
    background-color: #f4f6f8;
  }
  &:focus {
    outline: 0;
  }
}

.plan-arrows {
  margin-bottom: 30px;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.plan-arrow {
  font-size: 0.8em;
  font-weight: 700;
  color: #5c6ac4;
}

.plan-arrow__icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 0.7em;
}

.plan-arrow--prev {
  float: left;
  .plan-arrow__icon {
    margin-right: 0.5em;
  }
}

.plan-arrow--next {
  float: right;
  .plan-arrow__icon {
    margin-left: 0.5em;
  }
}

.pricing-plan--addon__plus {
  width: 127px;
  height: 22px;
  margin-bottom: 0.75em;
}

.monthly-price {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 20px;
  padding-bottom: 20px;
  .monthly-price__currency, .monthly-price__billing-period, .monthly-price__price {
    display: inline-block;
    line-height: 1;
  }
  .monthly-price__currency {
    padding-top: 0.2em;
    padding-right: 4px;
    align-self: flex-start;
  }
}

.monthly-price__price {
  letter-spacing: -1px;
  sup {
    padding-right: 3px;
    margin-top: 0.3em;
    font-size: 0.3em;
  }
}

@media screen and (max-width: 46.8125em) {
  .pricing-faq__heading {
    border-bottom: 1px solid #dfe3e8;
    padding-bottom: 12px;
  }
}

.icon {
  display: inline-block;
  width: 0.8em;
  height: 1em;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon--primary {
  fill: #5c6ac4;
}