
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) {
  .small-screen{
    display: none
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  
  .navbar {
    height: auto;
  }
  .hero-section img, .all-sections img{
    max-width: 100%;
    height: auto;
  }
  .footer-logo img{
    width: auto;
    height: auto;
  }
  .col-sm-6 {
    flex: 0 0 90%;
    max-width: 100%;
  }
  .hero-section{
    padding-top: 5rem;
  }
  .col-sm-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hero-section .first-row{
    margin: 3rem auto;
  }
  .summary-section {
    margin: 19rem auto 3rem auto;
  }
  .order-last {
    -ms-flex-order: 13;
    order: 0;
  }
  .call-to-join-testers {
    height: 323px;
    padding: 4rem 6.5rem;
  }
  .call-to-join-testers h1 {
    margin-bottom: 2rem;
    font-size: 18pt;
    width: 90%;
  }
  .all-sections {
    padding: 1.5rem 0;
  }
  .navbar-expand-lg {
    margin: auto 0;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .form-closure p{
    width: 80%;
  }

} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .tagline{
    height: auto;
    margin-bottom: 2rem;
    padding-top: 20pt;
    width: 100%;
  }
  .tagline h1 {
    font-size: 45px;
    color: #FFFFFF;
    letter-spacing: 1pt;
    width: 100%;
    margin-bottom: 3rem;
  }
  h2 {
    font-size: 22pt;
    color: #000000;
    margin-bottom: 1.2rem;
  }
  .col-sm-8{
    padding-right: 0;
    padding-left: 0;
  }
  .hero-image{
    margin-bottom: auto;
    display: none;
  }
  .yip-button{
    width: 100%;
  }
  .hero-highlights-section li {
    font-size: 13pt;
  }
  .hero-section .yip-button{
    display: none;
  }
  .summary-section {
    margin: 1rem auto;
    padding: 2rem 1rem;
  }
  .hero-section .first-row{
    margin: 2rem auto;
  }
  .hero-section{
    padding-top: 3rem;
  }
  .call-to-join-testers {
    height: 360px;
    padding: 4rem 1.5rem;
  }
  .call-to-join-testers h1 {
    margin-bottom: 2rem;
    font-size: 18pt;
    width: 90%;
  }
  .hero-highlights-section li .fa {
    display: none;
  }
  .hero-highlights-section ul{
    margin-bottom: 1rem;
  }
  .hero-highlights-section li{
    margin-bottom: 1rem;
  }
  .hero-highlights-section h3 {
      font-size: 21px;
      color: #14FF45;
      letter-spacing: normal;
      margin: auto auto 18pt -15pt;
  }
  .feature-highlights li {
    font-size: 14px;
  }

  footer {
    padding: 1rem 0;
  }

  .footer-group{
    margin-top: 0.5rem;
  }
  .footer-group li{
    font-size: 12px;
    color: #666666;
    letter-spacing: 0.09px;
    line-height: 23px;
    margin-left: -15px;
  }
  .follow-social li{
    font-size: 20pt;
    margin: 1rem 2rem auto 0;
  }

  /*-------waiting page------*/
  
  .waiting-page {
    padding: 7rem 1rem 5rem 1rem;
  }
  .waiting-page h3 {
    font-size: 22pt;
    letter-spacing: normal;
    margin-bottom: 1rem;
  }
  .yip-form {
    padding: 0.5rem;
    margin: auto;
    margin-bottom: 0rem;
  }
  .yip-form input[type=text]{
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 11pt;
    height: 50px;
    padding: 1rem;
    width: 100%;
  }
  .yip-form label {
    font-size: 14pt;
    margin-bottom: 0.5rem;
  }
  .input-block{
    margin-bottom: 1.5rem;
  }
  .yip-form .yip-button{
    height: 60px;
    margin-top:1rem;
    width: 100%;
  }
  .form-closure p{
    width: auto;
  }
}